#Menu li{
  list-style-type: none;
  float: left;
  display: inline-block;
  padding: 5px;
}

#Header{
  margin-left: 40vw;
  position: fixed;
  top: 0px;
}

#Name{
  color: #d3d3d3;
  font-size: 20px;
}

#Main{
  margin-top: 5vw;
}

html{
  background-color: #282C34;
  position: absolute;
  color: #d3d3d3;
}

#Var{
  color: #5188B5;
}

#Spacing{
  padding: 50px;
}

#Hero{
  margin-left:45vw;
}
